.dashboard thead {
  background-color: transparent;
}

.dashboard table td,
tr {
  border: 1px solid #ddd;
  padding: 8px;
}

.dashboard tr:nth-child(even) {
  background-color: #505054;
}

.dashboard table td.aksi {
  text-align: center;
}

.btn .copy,
.btn .edit,
.btn .delete {
  font-size: 22px;
}

.btn .copy:hover {
  color: #5e5ce6 !important;
}

.btn .edit:hover {
  color: #5ce67f !important;
}

.btn .delete:hover {
  color: #e65c5c !important;
}
